@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing the font */
@font-face {
  font-family: 'HandelGo';
  src: url('/fonts/HandelGo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0px;
  margin: 0px;
}